<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container page-body">
    <div class="col-md-12" role="main">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h3>今天</h3>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container page-body">
    <div class="col-md-9" role="main">
        {% for content in all_content%}
        <div class="body-main">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ content.content_text }}
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
    <div class="col-md-3" role="complementary">
        <div>
            <form role="form" method="post" action="newContent">
                <div class="form-group">
                    <textarea class="form-control" rows="10" name="contentArea"></textarea>
                    <button type="submit" class="btn btn-default">发布</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
</body>
</html>